<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
 
      <div class="panel panel-default">
        <div class="panel-heading">Cover Picture</div>
        <div class="panel-body">
          Fullname, @username, tweets, following, followers
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          Picture + Input box for tweets
        </div>
        
        <% @tweets.each do |tweet| %>
        <div class="panel-body">
          <%= tweet.user.username %>
          <%= tweet.content %> 

          <form class="tweet-button" method="post" action="/tweets/<%= tweet.id %>/retweet">
            <input class="btn btn-info" type="submit" value="retweet">
          </form>

          <form class="tweet-button" method="post" action='/tweets/<%= tweet.id  %>'>
            <input type="hidden" name="_method" value="delete">
            <input class="btn btn-danger" type="submit" value="delete">
          </form>
          <% end %>
        </div>
   
      </div>
    </div>

    <div class="col-md-3">

      <div class="panel panel-default">
        <div class="panel-body">
          Who to Follow . refresh . view all
        </div>

        <div class="panel-footer">Find people you know</div>
      </div>

    </div>
  </div>  
</div>










