<div>
<ul>
<% @tweets.each do |tweet| %>
  <div class="tweet">
    <h3><%= tweet.user.username %></h3>
    <p><%= tweet.content %></p>
    <form method="post" action="/tweets/<%= tweet.id %>/retweet"><input type="submit" value="retweet"></form>
    <form method="post" action='/tweets/<%= tweet.id  %>'>
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="DESTROIT">
    </form>
  </div>
<% end %>
</ul>
</div>
