<div class="panel panel-default">
  
  <div class="panel-body">
    <h3>Create a new Lil-Tweet!</h3><br>
			<form action="/tweets" method="post">

				<% unless @tweet.errors[:content].blank? %>
				<%= @tweet.errors[:content][0] %>
				<% end %>

	  	<input type="text" name="tweet[content]" value="<%= @tweet.content %>" placeholder="Tweet Content">
	  	<input class="btn btn-info"  type="submit" value="Tweet!!">
		</form>
  </div>
</div> 