<form action="/tweets" method="post">
  <label>Tweet content:</label> <br>

<% unless @tweet.errors[:content].blank? %>
<div class="tweet-error"><%= @tweet.errors[:content][0] %></div>
<% end %>

  <input type="text" name="tweet[content]" value="<%= h @tweet.content %>" placeholder="Tweet">
  <input type="submit" value="Tweet!!">
</form>
