<form action="/tweets" method="post">
  <label>Tweet content:</label> <br>
  <input type="text" name="tweet[content]" placeholder="TWEETSHITCONTENT">
  <input type="submit" value="TWEETSHITBUTTON">
</form>
