<div class="container-fluid">
	<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-5">
	  	<p class="lead">Welcome to Lil- Twitter.</p>
	  	<br><br>
	  	<p class="lead">Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.</p>
	  </div>
	  <div class="col-md-1"></div>
	  <div class="col-md-3">

	<!-- 		<div class="container">
			  <a href="/login">Log in</a>

				NOT WORKING
			  <form action="/login" method="post">
			    <input type="text" name="username" autocomplete="off" maxlength="20" value placeholder="Username">
			    <br><br>
				<input type="password" name="password" autocomplete="off" maxlength="20" value placeholder="Password">
				<br><br>
			    <input type="submit" value="Log in">
			  </form>
			  NOT WORKING
			  	
			</div>	  	
				  
			<div class="container">
			  <a href="/signup">Sign up</a>
			</div>
 -->

			<div class="panel panel-default">
			  <div class="panel-body">
			  	<a href="/login" class="btn btn-info">Log in</a>
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-body">
			  	<a href="/signup" class="btn btn-warning">Sign up</a>
			  </div>
			</div>
		<div class="col-md-1"></div>
	  </div>
	</div>	
</div>
