<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lil-Twitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,800italic,400,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

</head>
<body>

  <!-- NAVIGATION HEADER WITH BIRD BRAND -->
    <nav class="navbar navbar-default container-fluid">

      <% if session[:id].blank? %>
        <a class="navbar-brand" href="/">
          <img class="bird" alt="Brand" src="bird.png">
        </a>
      <% else %>
      <%= User.find(session[:id]).username %>
        <a class="navbar-brand" href="/profile">
          <img class="bird" alt="Brand" src="bird.png">
        </a>
      <% end%>


    </nav>
      <div class ="col-md-12 jumbotron">
        <%= yield %>
      </div>


  <!-- Latest compiled and minified JavaScript -->
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
