<h1>My Profile</h1>
<table>
  <tr>
    <td><strong>Username:</strong></td>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <td><strong>Email:</strong></td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td><strong>First Name:</strong></td>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <td><strong>Last Name:</strong></td>
    <td><%= @user.last_name %></td>
  </tr>
</table>

<div>
  <ul>
    <li><a href="/signout">Sign out</a></li>
  </ul>
</div>
